@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Libertinus+Serif+Display&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
    font-family: "Funnel Display", sans-serif;
}
::-webkit-scrollbar{
    display: none;
}